:root {

    --primary-color-light-violet: #BF5FE1;
    --primary-color-super-violet: #6A20B4;

    --secondary-color-cool-pink: #EFC0FF;
    --secondary-color-bright-purple: #875CFF;
    --secondary-color-deep-purple: #39067B;
    --secondary-color-coral-reef: #FB5F5F;
    --secondary-color-hey-honey: #FFDC22;

    --neutral-color-black: #151515;
    --neutral-color-dark-gray: #303030;
    --neutral-color-gray: #515151;
    --neutral-color-light-gray: #939393;
    --neutral-color-white: #FFF;

    --searchbox-top-distance: 0;
    --searchbox-right-distance: "";
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

/*-------------------------------------------------- log in --------------------------------------------------*/


.login-page {
    display: flex;
    flex-direction: column;
    background: url("../src/BG.png"), lightgray 0px -34.965px / 129.216% 138.04% no-repeat;
}

.login-header {
    display: flex;
    padding: 1.55rem 1.37rem;
}

.login-main {
    display: flex;
    flex-direction: row-reverse;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 23, 23, 0.80);
    backdrop-filter: blur(5px);
    padding: 2.45rem 3.1rem;
    margin-right: 6.25rem;
    margin-top: 3.7rem;
    flex-shrink: 0;
    border-radius: 12px;
}

.login-welcome {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-family: Archivo;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.1rem;
}

.login-welcome-subtext {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2.4rem;
}

.login-input {
    width: 22.625rem;
    height: 2.9375rem;
    flex-shrink: 0;
    border-radius: 4px;
    color: #3D3D3D;
    font-family: Exo;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.66rem 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-input-container {
    margin-bottom: 1rem;
}

.password-input {
    
}

.password-input::-ms-reveal {
    display: none;
}

.validation-error-input {
    border-radius: 4px;
    border: 1px solid #F00;
}

.validation-error-message {
    color: #F00;
    font-family: Archivo;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1375rem;
    margin-top: 0.4rem;
    display: none;
}

.password-input-container {
    position: relative;
    width: max-content;
}

.password-visibility-btn {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    right: 0.5rem;
    top: 0.75rem;
}

.eye-slashed {
    d: path("M19.7071 5.707C19.8892 5.5184 19.99 5.2658 19.9877 5.0036C19.9854 4.7414 19.8803 4.49059 19.6949 4.30518C19.5095 4.11977 19.2587 4.0146 18.9965 4.01233C18.7343 4.01005 18.4817 4.11084 18.2931 4.293L14.0321 8.553C13.2681 8.10201 12.3758 7.9178 11.4957 8.02935C10.6156 8.14089 9.79755 8.54186 9.17023 9.16918C8.54292 9.79649 8.14195 10.6146 8.0304 11.4947C7.91886 12.3748 8.10307 13.267 8.55405 14.031L4.29305 18.293C4.19754 18.3852 4.12136 18.4956 4.06895 18.6176C4.01654 18.7396 3.98896 18.8708 3.9878 19.0036C3.98665 19.1364 4.01195 19.2681 4.06223 19.391C4.11251 19.5138 4.18676 19.6255 4.28066 19.7194C4.37455 19.8133 4.4862 19.8875 4.6091 19.9378C4.732 19.9881 4.86367 20.0134 4.99645 20.0123C5.12923 20.0111 5.26045 19.9835 5.38246 19.9311C5.50446 19.8787 5.61481 19.8025 5.70705 19.707L9.96805 15.447C10.732 15.898 11.6243 16.0822 12.5044 15.9707C13.3845 15.8591 14.2026 15.4581 14.8299 14.8308C15.4572 14.2035 15.8582 13.3854 15.9697 12.5053C16.0812 11.6252 15.897 10.733 15.4461 9.969L19.7071 5.707ZM12.5181 10.067C12.1789 9.97598 11.8217 9.97588 11.4824 10.0667C11.1432 10.1576 10.8338 10.3361 10.5855 10.5845C10.3372 10.8328 10.1586 11.1421 10.0678 11.4814C9.97694 11.8206 9.97703 12.1778 10.0681 12.517L12.5181 10.067ZM11.4821 13.932L13.9321 11.482C14.0231 11.8212 14.0232 12.1784 13.9323 12.5176C13.8415 12.8569 13.6629 13.1662 13.4146 13.4145C13.1663 13.6629 12.8569 13.8414 12.5177 13.9323C12.1784 14.0231 11.8212 14.023 11.4821 13.932ZM15.7651 4.821C14.6301 4.32 13.3671 4 12.0001 4C9.14805 4 6.75705 5.395 4.99805 6.906C3.23305 8.423 2.00805 10.138 1.46405 10.97C1.26309 11.2759 1.15601 11.634 1.15601 12C1.15601 12.366 1.26309 12.7241 1.46405 13.03C2.25829 14.2394 3.17952 15.3604 4.21205 16.374L5.62605 14.96C4.70926 14.0618 3.88942 13.0696 3.18005 12C3.69005 11.227 4.77805 9.732 6.30105 8.423C7.87405 7.072 9.81605 6 12.0001 6C12.7549 6.00286 13.5044 6.12677 14.2201 6.367L15.7651 4.821ZM12.0001 18C11.2452 17.9971 10.4957 17.8732 9.78005 17.633L8.23605 19.18C9.37205 19.68 10.6341 20.001 12.0011 20.001C14.8531 20.001 17.2441 18.606 19.0031 17.095C20.7681 15.578 21.9931 13.863 22.5371 13.031C22.9481 12.403 22.9481 11.6 22.5371 10.971C21.7428 9.7616 20.8216 8.64057 19.7891 7.627L18.3741 9.04C19.2909 9.93822 20.1107 10.9303 20.8201 12C20.3101 12.773 19.2221 14.268 17.6991 15.577C16.1261 16.928 14.1841 18 12.0001 18Z")
}

.remember-section {
    margin-top: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 1px;
    height: 1.25rem;
    width: 1.26rem;
    background-color: inherit;
    border: white solid 2px;
    border-radius: 4px;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    background-color: var(--primary-color-light-violet);
    border-color: var(--primary-color-light-violet);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 5px;
    top: 0;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.remember-me-checkbox {
    background-color: black;
}

.remember-left {
    display: flex;
    text-align: center;
    gap: 2.30rem;
}

.remember-text {
    color: var(--neutral-color-white);
    font-size: 0.875rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.remember-link {
    color: var(--primary-color-light-violet);
    font-size: 0.875rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.login-btn {
    width: 22.625rem;
    height: 2.9375rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
    background: var(--primary-color-light-violet);
    color: var(--neutral-color-white);
    text-align: center;
    font-size: 1.125rem;
    font-family: Archivo;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 1.5rem;
    border: none;
}

.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.01rem;
    gap: 0.55rem;
    margin-left: 5px;
}

.register-text {
    color: #FFF;
    text-align: right;
    font-size: 0.875rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register-link {
    color: var(--primary-color-light-violet);
    text-align: right;
    font-size: 0.875rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.linebreak {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.7rem;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.9rem;
}

.linebreak-text {
    color: var(--neutral-color-light-gray);
    text-align: center;
    font-size: 0.875rem;
    font-family: Archivo;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 1.65rem;
}

.external-login-btn {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.3rem;
    border-radius: 0.375rem;
    border: 2px solid #FFF;
    padding: 0.6rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.external-login-icon {
    display: block;
    margin-left: 3rem;
}

.external-login-text {
    display: block;
    color: var(--neutral-color-white);
    font-size: 1.125rem;
    font-family: Archivo;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}